@font-face {
	font-family: NimbusSansLight;
	src: url(../font/NimbusSansLight.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "NimbusSansLight"
}

@media (min-width: 420px) {
    
}