
/* HEADER STYLES */
header,#header-background{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
}
#header-background{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 399px;
    background: #707070 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    color: #FFFFFF;
}
h4{
    font-size: 20px;
}
h1{
    font-size: 40px;
    padding: 10px;
}
p{
    top: 69px;
    left: 635px;
    width: auto;
    margin: 20px auto 40px auto;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
ul{
    list-style: none;
}
li {
    display: inline-flex;
    margin: auto 40px;
}
.header-button{
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0%;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    color: #888888;
}

/* ASIDE STYLES */
aside, #aside-row-1, #aside-row-2 {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}
#aside-row-1{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 10px;
}
article, form {
    width: 50%;
    padding: 10px;
}
h2, p {
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
}
h2  {
    font-size: 20px;
}
p {
    font-size: 12px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.row-form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.row-form, label, input{
    width: 340px;
}
#masculino, #feminino {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}
.row-form-radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    width: 340px;
}
label {
    font-size: 12px;
    color: #888888;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}
input {
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #707070;
    opacity: 1;
}
button {
    width: 340px;
    height: 39px;
    background: #FFFFFF;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;
    font-size: 16px;
}